html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; /* stylelint-disable-line */
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after { /* stylelint-disable-line */
  box-sizing: inherit;
}
input:focus, select:focus, textarea:focus {
  outline: none;
}

body {
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
  font-size: 25.6px;
  font-size: 1.6rem;
  /*margin: 6rem;*/
}

/*/////////////////////////////////////////////////////////
/////////// STARTPAGE ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////*/

.start {
  background: url(/assets/img/background.jpg) no-repeat;
  background-size: cover;
  height: 90vh;
  margin: 80px 3% 0;
  margin: 5rem 3% 0;
}

.logo-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center

}

.logo-login .logo{
  background: url(/assets/img/logo-msk.png) no-repeat;
  width: 128px;
  width: 8rem;
  height: 128px;
  height: 8rem;
  background-size: 90%;
  margin-left: 30%;
  position: relative;
  bottom: 48px;
  bottom: 3rem;
}

.logo-login .login{
  font-family: oak-bold;
  position: relative;
  font-size: 28.8px;
  font-size: 1.8rem;
  padding-right: 1.6px;
  padding-right: .1rem;
  bottom: 96px;
  bottom: 6rem;
}

.login-a {
  text-decoration: none;
  color: black;
}

.groupart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
}

.groupart-box {
  margin-top: 160px;
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  color: white;
  font-family: oak-bold
}

.groupart-box h1{
  font-size: 160px;
  font-size: 10rem;
  margin-bottom: 64px;
  margin-bottom: 4rem;
}

.groupart-box p{
  line-height: 48px;
  line-height: 3rem;
  text-align: center;
  margin-bottom: 64px;
  margin-bottom: 4rem;
}

.doe-button {
  border: 4.8px solid white;
  border: .3rem solid white;
  padding: 16px 32px;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all .5s ease-out;
  color: white;
  text-decoration: none;
  text-align: center;
}

.doe-button:hover {
  background-color: white;
  color: #c73130;

}

.question-flexbox {
  position: relative;
  top: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  padding-right: 48px;
  padding-right: 3rem;
}

.question-a {
  text-decoration: none;
  color: black;
}

.question-box {
  border-radius: 3rem;
  background-color: white;
  height: 64px;
  height: 4rem;
  width: 64px;
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: oak-bold;
  font-size: 28.8px;
  font-size: 1.8rem;
  transition: all .5s ease-out
}

.question-box .question{
  text-align: center;
}

.question-box:hover {
  border: 4.8px solid white;
  border: .3rem solid white;
  background-color: transparent;
  color: white;
}

/*/////////////////////////////////////////////////////////
/////////// LOGIN ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////*/


.login-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, .7);
  width: 30%;
  position: relative;
  top: 20%;
  margin: 0 auto
}


.login-box h1{
  font-size: 56px;
  font-size: 3.5rem;
  margin-top: 32px;
  margin-top: 2rem;
}

.login-content {
  font-family: oak-bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.login-form, .register-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
}

.login-input {
  height: 48px;
  height: 3rem;
  border: none;
  margin: 16px auto;
  margin: 1rem auto;
  width: 100%;
  text-align: center;
  font-family: oak-bold;
  color: black;
  font-size: 19.2px;
  font-size: 1.2rem
}

.login-input::-webkit-input-placeholder{
  color: silver;
  text-align: center;
  font-family: oak-bold;
  letter-spacing: 1.6px;
  letter-spacing: .1rem;
}

.login-input:-ms-input-placeholder{
  color: silver;
  text-align: center;
  font-family: oak-bold;
  letter-spacing: 1.6px;
  letter-spacing: .1rem;
}

.login-input::placeholder{
  color: silver;
  text-align: center;
  font-family: oak-bold;
  letter-spacing: 1.6px;
  letter-spacing: .1rem;
}

.pass-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 16px;
  font-size: 1rem;
  width: 100%;
}

.login-button, .register-button {
  border: 4.8px solid white;
  border: .3rem solid white;
  background-color: transparent;
  color: white;
  font-size: 24px;
  font-size: 1.5rem;
  width: 50%;
  font-family: oak-bold;
  padding: 16px 32px;
  padding: 1rem 2rem;
  margin-top: 32px;
  margin-top: 2rem;
  cursor: pointer;
  text-align: center;
  transition: all .5s ease-out;
}

.login-button:hover, .register-button:hover {
  background-color: white;
  color: black;
}

.nog-box {
  margin-top: 32px;
  margin-top: 2rem;
  font-size: 20.8px;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 16px;
  margin-bottom: 1rem
}

.nog-box a{
  color: red;
  text-decoration: none;
}

.register-button {
  width: 20%;
}

/*/////////////////////////////////////////////////////////
/////////// REGISTEREN ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////*/

.register-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, .7);
  position: relative;
  top: 20%;
  width: 70%;
  margin: 0 auto
}

.register-box h1{
  font-size: 56px;
  font-size: 3.5rem;
  margin-top: 32px;
  margin-top: 2rem;
}

.register-content {
  font-family: oak-bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.register-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.register-inputs {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register-input {
  height: 48px;
  height: 3rem;
  border: none;
  margin: 16px;
  margin: 1rem;
  width: 40%;
  text-align: center;
  font-family: oak-bold;
  color: black;
  font-size: 19.2px;
  font-size: 1.2rem
}

.register-input::-webkit-input-placeholder{
  color: silver;
  text-align: center;
  font-family: oak-bold;
  letter-spacing: 1.6px;
  letter-spacing: .1rem;
}

.register-input:-ms-input-placeholder{
  color: silver;
  text-align: center;
  font-family: oak-bold;
  letter-spacing: 1.6px;
  letter-spacing: .1rem;
}

.register-input::placeholder{
  color: silver;
  text-align: center;
  font-family: oak-bold;
  letter-spacing: 1.6px;
  letter-spacing: .1rem;
}

/*/////////////////////////////////////////////////////////
/////////// EVENT PAGE ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////*/


.banner {
  background: url(/assets/img/header.jpg) no-repeat center;
  position: fixed;
  height: 160px;
  height: 10rem;
  width: 100%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px;
  padding: 3rem

}


.banner .login-welkom{
  font-size: 28.8px;
  font-size: 1.8rem;
  font-family: oak-bold;
  color: black;
  background-color: white;
  padding: 8px;
  padding: .5rem;
}


.banner strong{
  color: red;
}


.banner a{
  text-decoration: none;
  color: black;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}


/*/////////// SIDEBAR ////////////////////////*/

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 160px;
  margin-top: 10rem;
  width: 288px;
  width: 18rem;
  box-shadow: .1rem 0 1.5rem silver;
  height: 100%;
  position: fixed
}

.sidebar .msk-logo{
  margin-top: 64px;
  margin-top: 4rem;
}

.side-links {
  font-size: 32px;
  font-size: 2rem;
  margin-top: 80px;
  margin-top: 5rem


}

.side-links a{
  color: black;
  text-decoration: none;
  font-family: oak-bold;
}

.mijn-events {
  margin: 80px 0 320px;
  margin: 5rem 0 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 224px;
  width: 14rem
}

.mijn-events .pop-melding{
  /*background-color: red;*/
  border: 3.2px solid red;
  border: .2rem solid red;
  color: red;
  font-size: 16px;
  font-size: 1rem;
  font-family: oak-bold;
  text-align: center;
  padding-top: 3%;
  height: 32px;
  height: 2rem;
  width: 32px;
  width: 2rem;
}

.event-aanmaken {
}

.event-aanmaken .plus{
  font-family: oak-bold;
  text-align: center;
  border: 3.2px solid black;
  border: .2rem solid black;
  border-radius: 2rem;
  padding: 3.2px 0 4.8px;
  padding: .2rem 0 .3rem;
  width: 48px;
  width: 3rem;
  margin: 16px auto;
  margin: 1rem auto;
  transition: all .5s ease-out;
}

.plus:hover {
  background-color: black;
  color: white;
}

/*/////////// OVERVIEW ////////////////////////*/

.overview, .my-events-list, .add-event, .detail {
  padding: 320px 0 0 7%;
  padding: 20rem 0 0 7%;
  width: 80%;
  font-family: oak-bold;
  margin-left: 10%
}

.overview .event-title, .my-events-list .event-title, .add-event .event-title, .detail .event-title{
  font-size: 80px;
  font-size: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.overview select, .my-events-list select, .add-event select, .detail select{
  font-family: oak-bold;
  border-radius: 0;
  border: 4.8px solid red;
  border: .3rem solid red;
  background-color: white;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 16px;
  padding: 1rem;
  font-size: 20.8px;
  font-size: 1.3rem;
  background-image: url(data:image/svg+xml;base64,PCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjIuMSwgU1ZHIEV4cG9ydCBQbHVnLUluICAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiCgkgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6YT0iaHR0cDovL25zLmFkb2JlLmNvbS9BZG9iZVNWR1ZpZXdlckV4dGVuc2lvbnMvMy4wLyIKCSB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjIxLjRweCIgaGVpZ2h0PSI4LjFweCIgdmlld0JveD0iMCAwIDIxLjQgOC4xIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyMS40IDguMSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIKCT4KPGRlZnM+CjwvZGVmcz4KPHBvbHlsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iI0ZGMDAwMCIgc3Ryb2tlLXdpZHRoPSIyLjQ3NzYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBwb2ludHM9IjEuMiwxLjQKCTcuOCw2LjQgMTQuMywxLjQgIi8+CjxyZWN0IHg9IjE2LjIiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSI1LjIiIGhlaWdodD0iOC4xIi8+Cjwvc3ZnPgo=);
  background-repeat: no-repeat;
  background-position: right;
}

.first-part-event, .second-part-event {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-part-event {
  width: 45%;
}

.info-message {
  font-family: oak-bold;
  color: #50b948;
  border: 4.8px solid #50b948;
  border: .3rem solid #50b948;
  height: 128px;
  height: 8rem;
}

.this-week {
}

.this-week h2{
  font-family: denmark-bold;
  background-color: black;
  padding: 8px;
  padding: .5rem;
  color: white;
  width: 240px;
  width: 15rem;
  margin-top: 64px;
  margin-top: 4rem;
}

.event {
  margin-top: 80px;
  margin-top: 5rem;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 32px;
  padding-bottom: 2rem;
  border-bottom: 1.6px solid black;
  border-bottom: .1rem solid black;
}

.datum, .wat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 224px;
  width: 14rem
}

.datum .datumke, .wat .datumke{
  font-size: 20.8px;
  font-size: 1.3rem;
  color: black;
}

.datum p, .wat p{
  color: red;
  font-size: 32px;
  font-size: 2rem;
}

.wat {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 48px;
  margin-right: 3rem
}

.wat .voorstelling{
  font-size: 17.6px;
  font-size: 1.1rem;
  color: red;
}

.wat p{
  color: black;
  font-size: 27.2px;
  font-size: 1.7rem;
}

.tijd, .personen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 112px;
  width: 7rem
}

.tijd .klok, .personen .klok{
  background: url(/assets/svg/clock.svg) no-repeat;
  height: 40px;
  height: 2.5rem;
  width: 48px;
  width: 3rem;
}

.tijd .groep, .personen .groep{
  background: url(/assets/svg/groep.svg) no-repeat;
  height: 40px;
  height: 2.5rem;
  width: 48px;
  width: 3rem;
}

.invisible {
  display: none;
}

.personen {
  width: 144px;
  width: 9rem;
}

.extra-button, .invisible {
  border: 4.8px solid black;
  border: .3rem solid black;
  background-color: transparent;
  font-family: oak-bold;
  font-size: 19.2px;
  font-size: 1.2rem;
  padding: 16px 0;
  padding: 1rem 0;
  cursor: pointer;
  transition: all .5s ease-out;
  width: 128px;
  width: 8rem;
  text-decoration: none;
  color: black;
  text-align: center;

}

.extra-button:hover {
  background-color: black;
  color: white;
}

.join-button, .invisible {
  border: 4.8px solid red;
  border: .3rem solid red;
  background-color: transparent;
  color: red;
  font-family: oak-bold;
  cursor: pointer;
  width: 128px;
  width: 8rem;
  padding: 16px 0;
  padding: 1rem 0;
  transition: all .5s ease-out;
}

.join-button:hover {
  background-color: red;
  color: white;
}

.remove-button {
  background-color: red;
  border: none;
  color: white;
  font-family: oak-bold;
  cursor: pointer;
  width: 128px;
  width: 8rem;
  transition: all .5s ease-out;
}

.remove-button:hover {
  background-color: red;
  color: white;
}

.leave-button {
  background-color: red;
  border: none;
  color: white;
  font-family: oak-bold;
  cursor: pointer;
  width: 128px;
  width: 8rem;
  transition: all .5s ease-out;
}

.leave-button:hover {
  background-color: red;
  color: white;
}

.my-event-title {
  font-size: 80px;
  font-size: 5rem;
}

.aangemaakt, .ingeschreven, .nieuw-event {
}

.aangemaakt h2, .ingeschreven h2, .nieuw-event h2{
  font-family: denmark-bold;
  background-color: black;
  padding: 8px;
  padding: .5rem;
  color: white;
  width: 320px;
  width: 20rem;
  margin-top: 64px;
  margin-top: 4rem;
}

/*/////////////////////////////////////////////////////////
/////////// EVENT AANMAKEN ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////*/



.add-event {
}



.add-event .add-event-title{
  font-size: 80px;
  font-size: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input {
  font-size: 20.8px;
  font-size: 1.3rem;
}

label {
  margin-top: 32px;
  margin-top: 2rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  font-size: 28.8px;
  font-size: 1.8rem;
}

.select-uur {
  display: inline-block;
  width: 160px;
  width: 10rem;
}

.select-tent {
  width: 480px;
  width: 30rem;
}

.add-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65vw;
  margin-top: 56px;
  margin-top: 3.5rem
}

.add-form .form-section{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.kalender {
  border: 4.8px solid red;
  border: .3rem solid red;
  width: 400px;
  width: 25rem;
  font-family: oak-bold, sans-serif;
  padding: 16px;
  padding: 1rem;
  font-size: 20.8px;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.kalender::-webkit-input-placeholder{
  color: red;
}

.kalender:-ms-input-placeholder{
  color: red;
}

.kalender::placeholder{
  color: red;
}

.text-box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  display: inline-block;
  font-size: 20.8px;
  font-size: 1.3rem
}

.text-box textarea{
  border: 4.8px solid red;
  border: .3rem solid red;
  font-family: oak-bold, sans-serif;
  padding: 8px;
  padding: .5rem;
}

.capacity-box {

}

.capacity-box .capacity{
  width: 112px;
  width: 7rem;
  height: 64px;
  height: 4rem;
  border: 4.8px solid red;
  border: .3rem solid red;
  text-align: center;
  padding-left: 19.2px;
  padding-left: 1.2rem;
  font-family: oak-bold;
  font-size: 24px;
  font-size: 1.5rem;
}

.add-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 4.8px solid red;
  border: .3rem solid red;
  cursor: pointer;
  transition: all .5s ease-out;
  color: red;
  text-decoration: none;
  background: transparent;
  font-family: oak-bold;
  font-size: 28.8px;
  font-size: 1.8rem;
  margin-top: 64px;
  margin-top: 4rem;
  padding: 16px 0;
  padding: 1rem 0;
  width: 240px;
  width: 15rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.add-button:hover {
  background-color: red;
  color: white;
}

.form-rij {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-bottom: 32px;
  margin-bottom: 2rem
}

.form-rij span{
  color: red;
}

.form-rij select{
  margin-left: 32px;
  margin-left: 2rem;
}

.form-collum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, .9);
  top: 0;
  color: white;
  font-family: oak-bold;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center
}

.popup .popup-info{
  width: 40%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.popup h1{
  font-size: 80px;
  font-size: 5rem;
  color: white;
  padding-bottom: 48px;
  padding-bottom: 3rem;
  border-bottom: 3.2px solid white;
  border-bottom: .2rem solid white;
  margin-bottom: 48px;
  margin-bottom: 3rem;
}

.popup p{
  line-height: 40px;
  line-height: 2.5rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 112px;
  height: 7rem;
  background-color: black;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white
}

footer ul{
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 240px;
  width: 15rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.back {
  text-decoration: none;
  color: black
}

.back strong{
  color: red;
}

.detail-content {
  margin-top: 160px;
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.practical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.datum-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end
}

.datum-box h1{
  font-size: 32px;
  font-size: 2rem;
}

.datum-box h2{
  font-size: 80px;
  font-size: 5rem;
  color: red;
  text-transform: capitalize;
}

.practical-box {
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 48px;
  padding: 1rem 3rem;
  color: white;
}

.time-box, .group-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center

}

.time-box .timer, .group-box .timer{
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MS41NSA4MS41NSI+PHRpdGxlPkFzc2V0IDM8L3RpdGxlPjxnIGlkPSJMYXllcl8yIiBkYXRhLW5hbWU9IkxheWVyIDIiPjxnIGlkPSJMYXllcl8xLTIiIGRhdGEtbmFtZT0iTGF5ZXIgMSI+PHBhdGggZD0iTTQwLjc3LDBBNDAuNzcsNDAuNzcsMCwxLDAsODEuNTUsNDAuNzcsNDAuNzcsNDAuNzcsMCwwLDAsNDAuNzcsMFptMCw3NC4xM0EzMy4zNiwzMy4zNiwwLDEsMSw3NC4xMyw0MC43NywzMy4zNiwzMy4zNiwwLDAsMSw0MC43Nyw3NC4xM1oiIHN0eWxlPSJmaWxsOiNmZmYiLz48cGF0aCBkPSJNNDQuNDgsMzkuMjRWMTguNTNhMy43MSwzLjcxLDAsMSwwLTcuNDEsMFY0MC44YTMuNjMsMy42MywwLDAsMCwuMDcuN2MwLC4xMS4wNi4yMi4xLjMzYTMuNywzLjcsMCwwLDAsLjExLjM3LDMuODEsMy44MSwwLDAsMCwuMTkuMzdjLjA1LjA5LjA5LjE5LjE1LjI3YTMuNjEsMy42MSwwLDAsMCwuNDYuNTdMNDguNjQsNTMuODhhMy43MSwzLjcxLDAsMSwwLDUuMjQtNS4yNFoiIHN0eWxlPSJmaWxsOiNmZmYiLz48L2c+PC9nPjwvc3ZnPg==) no-repeat;
  height: 48px;
  height: 3rem;
  width: 48px;
  width: 3rem;
  margin-right: 16px;
  margin-right: 1rem;
}

.time-box .group-icon, .group-box .group-icon{
  background: url(/assets/svg/people-white.svg) no-repeat;
  height: 48px;
  height: 3rem;
  width: 48px;
  width: 3rem;
  margin: 16px 16px 0;
  margin: 1rem 1rem 0;
}

.description {
  margin-left: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.event-title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end
}

.event-title-box h1{
  color: red;
  font-size: 32px;
  font-size: 2rem;
}

.event-title-box h2{
  font-size: 48px;
  font-size: 3rem;
}

.description-box {
  margin-top: 48px;
  margin-top: 3rem;
  width: 80%
}

.description-box p{
  line-height: 40px;
  line-height: 2.5rem;
}

.maak-button-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.maak-button {
  border: 4.8px solid red;
  border: .3rem solid red;
  font-family: oak-bold;
  color: red;
  background: transparent;
  font-size: 28.8px;
  font-size: 1.8rem;
  padding: 16px 32px;
  padding: 1rem 2rem;
  position: relative;
  top: 96px;
  top: 6rem;
  transition: all .5s ease-out;
  cursor: pointer;
}

.maak-button:hover {
  background-color: red;
  color: white;
}

/*/////////////////////////////////////////////////////////
/////////// MEDIAQUERIES ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////*/

@media (max-width: 1200px) {

  .overview {
    margin-left: 10rem;
    padding-left: 10rem;
    width: 90vw;
  }

}


@media (max-width: 1024px) {

  .login-box {
    width: 50%;
  }

  .groupart-box {
    width: 60%
  }

  .groupart-box h1{
    font-size: 11vw;
  }

  .datum, .wat {
    width: 14vw;
  }

  .datum {
    width: 12vw;
  }

}

@media (max-width: 900px) {

  .register-box {
    top: 10%;
  }

  .register-content {
    width: 90%;
  }

  .register-inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap
  }

  .register-inputs .register-input{
    width: 100%;
    margin: 0;
  }

  .register-button {
    width: 80%;
  }

  .event {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }

  .first-part-event, .second-part-event {
    width: 90%;
  }

  .second-part-event {
    margin-top: 3rem;
  }

  .invisible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .extra-button, .join-button {
    display: none;
  }
}



@media (max-width: 750px) {

  .login-box {
    width: 100%
  }

  .login-box .login-content{
    width: 90%;
  }

  .login-box .login-button{
    width: 100%;
  }

  .login-box .login-input{
    height: 4rem;
    font-size: 2vh;
  }

  .groupart-box {
    width: 90%;
  }

  .register-box {
    width: 100%

  }

  .register-box .register-inputs{
    width: 100%;
  }

  .register-box .register-button{
    width: 100%;
  }

  .register-box .register-input{
    height: 4rem;
    font-size: 2vh;
  }

}

@media (max-width: 400px) {

  .login-box {
    top: 0;
  }

  .groupart {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start
  }

  .groupart .groupart-box{
    margin-top: 5rem;
  }

  .groupart h1{
    font-size: 13vw;
  }

  .doe-button {
    width: 100%;
  }

  .question-flexbox {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
  }

  .register-box {
    top: 0;
  }

}

/*# sourceMappingURL=style.css.map*/