@import 'reset';

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

body {
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  /*margin: 6rem;*/
}

/*/////////////////////////////////////////////////////////
/////////// STARTPAGE ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////*/

.start-container {
  background-image: url(../assets/img/bepart.png);
  background-position: bottom 5px left -3px;
  background-repeat: no-repeat;
  background-size: 4%;
  top: 0;
}

.start {
  background: url(../assets/img/background.jpg) no-repeat;
  background-size: cover;
  height: 90vh;
  margin: 5rem 3% 0;
}

.logo-login {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  & .logo {
    background: url(../assets/img/logo-msk.png) no-repeat;
    width: 8rem;
    height: 8rem;
    background-size: 90%;
    margin-left: 30%;
    position: relative;
    bottom: 3rem;

  }

  & .login {
    font-family: oak-bold;
    position: relative;
    font-size: 1.8rem;
    padding-right: .1rem;
    bottom: 6rem;
  }

}

.login-a {
  text-decoration: none;
  color: black;
}

.groupart {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
  height: 80%;
}

.groupart-box {
  margin-top: 10rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 40%;
  color: white;
  font-family: oak-bold;

  & h1 {
    font-size: 10rem;
    margin-bottom: 4rem;
  }

  & p {
    line-height: 3rem;
    text-align: center;
    margin-bottom: 4rem;
  }
}

.doe-button {
  border: .3rem solid white;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all .5s ease-out;
  color: white;
  text-decoration: none;
  text-align: center;
}

.doe-button:hover {
  background-color: white;
  color: #c73130;

}

.question-flexbox {
  position: relative;
  top: 8%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  padding-right: 3rem;
}

.question-a {
  text-decoration: none;
  color: black;
}

.question-box {
  border-radius: 3rem;
  background-color: white;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: oak-bold;
  font-size: 1.8rem;
  transition: all .5s ease-out;

  & .question {
    text-align: center;
  }
}

.question-box:hover {
  border: .3rem solid white;
  background-color: transparent;
  color: white;
}

/*/////////////////////////////////////////////////////////
/////////// LOGIN ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////*/


.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .7);
  width: 30%;
  position: relative;
  top: 20%;
  margin: 0 auto;

  & h1 {
    font-size: 3.5rem;
    margin-top: 2rem;
  }
}

.login-content {
  font-family: oak-bold;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: white;
}

.login-form, .register-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
}

.login-input {
  height: 3rem;
  border: none;
  margin: 1rem auto;
  width: 100%;
  text-align: center;
  font-family: oak-bold;
  color: black;
  font-size: 1.2rem;

  &::placeholder {
    color: silver;
    text-align: center;
    font-family: oak-bold;

    letter-spacing: .1rem;
  }
}

.pass-box {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  width: 100%;
}

.login-button, .register-button {
  border: .3rem solid white;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  width: 50%;
  font-family: oak-bold;
  padding: 1rem 2rem;
  margin-top: 2rem;
  cursor: pointer;
  text-align: center;
  transition: all .5s ease-out;
}

.login-button:hover, .register-button:hover {
  background-color: white;
  color: black;
}

.nog-box {
  margin-top: 2rem;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 1rem;

  & a {
    color: red;
    text-decoration: none;
  }
}

.register-button {
  width: 20%;
}

/*/////////////////////////////////////////////////////////
/////////// REGISTEREN ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////*/

.register-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .7);
  position: relative;
  top: 20%;
  width: 70%;
  margin: 0 auto;

  & h1 {
    font-size: 3.5rem;
    margin-top: 2rem;
  }
}

.register-content {
  font-family: oak-bold;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: white;
}

.register-form {
  display: flex;
  flex-flow: column nowrap;
}

.register-inputs {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.register-input {
  height: 3rem;
  border: none;
  margin: 1rem;
  width: 40%;
  text-align: center;
  font-family: oak-bold;
  color: black;
  font-size: 1.2rem;

  &::placeholder {
    color: silver;
    text-align: center;
    font-family: oak-bold;

    letter-spacing: .1rem;
  }
}

/*/////////////////////////////////////////////////////////
/////////// EVENT PAGE ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////*/


.banner {
  background: url(../assets/img/header.jpg) no-repeat center;
  position: fixed;
  height: 10rem;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3rem;


  & .login-welkom {
    font-size: 1.8rem;
    font-family: oak-bold;
    color: black;
    background-color: white;
    padding: .5rem;

  }

  & strong {
    color: red;
  }

  & a {
    text-decoration: none;
    color: black;
  }

}

.main-container {
  display: flex;
  flex-flow: row nowrap;
}


/*/////////// SIDEBAR ////////////////////////*/

.sidebar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10rem;
  width: 18rem;
  box-shadow: .1rem 0 1.5rem silver;
  height: 100%;
  position: fixed;


  & .msk-logo {
    margin-top: 4rem;
  }
}

.side-links {
  font-size: 2rem;
  margin-top: 5rem;

  & a {
    color: black;
    text-decoration: none;
    font-family: oak-bold;
  }


}

.mijn-events {
  margin: 5rem 0 20rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 14rem;
}

.pop-melding {
  /*background-color: red;*/
  border: .2rem solid red;
  color: red;
  font-size: 1rem;
  font-family: oak-bold;
  text-align: center;
  padding-top: 3%;
  height: 2rem;
  width: 2rem;

}

.event-list, .my-events-list {
  margin-bottom: 15rem;
}

.event-aanmaken {

  & .plus {
    font-family: oak-bold;
    text-align: center;
    border: .2rem solid black;
    border-radius: 2rem;
    padding: .2rem 0 .3rem;
    width: 3rem;
    margin: 1rem auto;
    transition: all .5s ease-out;
  }
}

.plus:hover {
  background-color: black;
  color: white;
}

/*/////////// OVERVIEW ////////////////////////*/


.mobile-nav {
  display: none;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 90%;
  font-family: oak-bold;
  margin: 11rem 0 4rem;
  align-self: center;

  & .mijn-events-mobile {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  & li {
    width: 33%;
    border: .3rem solid black;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
    margin: 1rem 0;
    transition: all .5s ease-out;
  }

  & a {
    text-decoration: none;
    color: black;
  }
}

.mobile-nav li:hover {
  background-color: black;
}

.mobile-nav li a:hover {
  color: white;
}

.overview, .my-events-list, .add-event, .detail {
  padding: 20rem 0 0 7%;
  width: 80%;
  font-family: oak-bold;
  margin-left: 10%;

  & .event-title {
    font-size: 5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  & select {
    font-family: oak-bold;
    border-radius: 0;
    border: .3rem solid red;
    background-color: white;
    appearance: none;
    padding: 1rem;
    font-size: 1.3rem;

    background-image: url(../assets/svg/arrow.svg);
    background-repeat: no-repeat;
    background-position: right;
  }
}

.no-events {
  margin-top: 3rem;

  & a {
    text-decoration: none;
    color: red;
    transition: .2s;

    &:hover {
      color: black;
    }
  }
}

.first-part-event, .second-part-event {
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.second-part-event {
  width: 45%;
}

.info-message {
  display: flex;
  font-family: oak-bold;
  color: #50b948;
  border: .3rem solid #50b948;
  font-size: 1.6rem;
  padding: 1rem;
  margin-top: 2rem;
}

.this-week {

  & h2 {
    font-family: denmark-bold;
    background-color: black;
    padding: .5rem;
    color: white;
    width: 19rem;
    margin-top: 4rem;
  }
}

.event {
  margin-top: 5rem;
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: .1rem solid black;
}

.datum, .wat {
  display: flex;
  justify-content: flex-end;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 14rem;

  & .datumke {
    font-size: 1.3rem;
    color: black;
  }

  & p {
    color: red;
    font-size: 2rem;
  }
}

.wat {
  align-items: flex-end;
  margin-right: 3rem;

  & .voorstelling {
    font-size: 1.1rem;
    color: red;
  }

  & p {
    color: black;
    font-size: 1.7rem;
  }
}

.tijd, .personen {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 7rem;

  & .klok {
    background: url(../assets/svg/clock.svg) no-repeat;
    height: 2.5rem;
    width: 3rem;
  }

  & .groep {
    background: url(../assets/svg/groep.svg) no-repeat;
    height: 2.5rem;
    width: 3rem;
  }
}

.invisible {
  display: none;
}

.personen {
  width: 9rem;
}

.extra-button {
  border: .3rem solid black;
  background-color: transparent;
  font-family: oak-bold;
  font-size: 1.2rem;
  padding: 1rem 0;
  cursor: pointer;
  transition: all .5s ease-out;
  width: 8rem;
  text-decoration: none;
  color: black;
  text-align: center;
}

.extra-button:hover {
  background-color: black;
  color: white;
}

.join-button {
  border: .3rem solid red;
  background-color: transparent;
  color: red;
  font-family: oak-bold;
  cursor: pointer;
  width: 8rem;
  padding: 1rem 0;
  transition: all .5s ease-out;
}

.join-button:hover {
  background-color: red;
  color: white;
}

.remove-button {
  border: .3rem solid red;
  background-color: red;
  color: white;
  font-family: oak-bold;
  cursor: pointer;
  width: 8rem;
  padding: 1rem 0;
  transition: all .5s ease-out;
}

.remove-button:hover {
  background-color: red;
  color: white;
}

.leave-button {
  background-color: red;
  border: .3rem solid red;
  color: white;
  font-family: oak-bold;
  cursor: pointer;
  width: 8rem;
  padding: 1rem 0;
  transition: all .5s ease-out;
}

.leave-button:hover {
  background-color: red;
  color: white;
}

.my-event-title {
  font-size: 5rem;
}

.aangemaakt, .ingeschreven, .nieuw-event {

  & h2 {
    font-family: denmark-bold;
    background-color: black;
    padding: .5rem;
    color: white;
    width: 20rem;
    margin-top: 4rem;
  }
}

/*/////////////////////////////////////////////////////////
/////////// EVENT AANMAKEN ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////*/

.add-event {

  & .add-event-title {
    font-size: 5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

input {
  font-size: 1.3rem;
}

label {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.select-uur {
  display: inline-block;
  width: 10rem;
}

.select-tent {
  width: 30rem;
}

.add-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 3.5rem;
  margin-bottom: 30vh;

  & .form-section {
    display: flex;
    flex-direction: column;
  }
}

.kalender {
  border: .3rem solid red;
  width: 25rem;
  font-family: oak-bold, sans-serif;
  padding: 1rem;
  font-size: 1.3rem;
  display: flex;

  &::placeholder {
    color: red;
  }
}

.text-box {
  flex-flow: column nowrap;
  display: inline-block;
  font-size: 1.3rem;

  & textarea {
    border: .3rem solid red;
    font-family: oak-bold, sans-serif;
    padding: .5rem;
  }
}

.capacity-box {

  & .capacity {
    width: 7rem;
    height: 4rem;
    border: .3rem solid red;
    text-align: center;
    padding-left: 1.2rem;
    font-family: oak-bold;
    font-size: 1.5rem;
  }

}

.add-button {
  display: flex;
  justify-content: center;
  border: .3rem solid red;
  cursor: pointer;
  transition: all .5s ease-out;
  color: red;
  text-decoration: none;
  background: transparent;
  font-family: oak-bold;
  font-size: 1.8rem;
  margin-top: 4rem;
  padding: 1rem 0;
  width: 15rem;
  align-self: flex-end;
}

.add-button:hover {
  background-color: red;
  color: white;
}

.form-rij {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 2rem;

  & span {
    color: red;
  }

  & select {
    margin-left: 2rem;
  }
}

.form-collum {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 2rem;
}

input[type=radio] {
  margin-right: 2rem;
}

.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, .9);
  top: 0;
  color: white;
  font-family: oak-bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;

  & .popup-info {
    width: 40%;
    align-self: center;
  }

  & h1 {
    font-size: 5rem;
    color: white;
    padding-bottom: 3rem;
    border-bottom: .2rem solid white;
    margin-bottom: 3rem;
  }

  & p {
    line-height: 2.5rem;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7rem;
  background-color: black;
  z-index: 20;
  display: flex;
  justify-content: center;
  color: white;

  & ul {
    align-self: center;
    display: flex;
    flex-direction: row;
    width: 15rem;
    justify-content: space-between;
  }
}

.back {
  text-decoration: none;
  color: black;

  & strong {
    color: red;
  }
}

.detail-content {
  margin-top: 5rem;
  margin-left: 5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.practical {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.datum-box {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  margin-bottom: 2rem;

  & h1 {
    font-size: 2rem;
  }

  & h2 {
    font-size: 5rem;
    color: red;
    text-transform: capitalize;
  }
}

.practical-box {
  background-color: red;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1rem 3rem;
  color: white;
}

.time-box, .group-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;


  & .timer {
    background: url(../assets/svg/clock-white.svg) no-repeat;
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
  }

  & .group-icon {
    background: url(../assets/svg/people-white.svg) no-repeat;
    height: 3rem;
    width: 3rem;
    margin: 1rem 1rem 0;
  }

}

.description {
  margin-left: 7%;
  margin-top: 7rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.event-title-box {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;

  & h1 {
    color: red;
    font-size: 2rem;
  }

  & h2 {
    font-size: 3rem;
  }
}

.description-box {
  margin-top: 3rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  height: 20vh;


  & p {
    line-height: 2.5rem;
  }
}

.maak-button-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.maak-button {
  border: .3rem solid red;
  font-family: oak-bold;
  color: red;
  background: transparent;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  position: relative;
  top: 6rem;
  transition: all .5s ease-out;
  cursor: pointer;
}

.maak-button:hover {
  background-color: red;
  color: white;
}

/*/////////////////////////////////////////////////////////
/////////// MEDIAQUERIES ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////*/

@media (width >= 1200) {

  .add-form {
    width: 65vw;
  }
}


@media (width <= 1200px) {

  .overview, .my-events-list, .add-event, .detail {
    margin-left: 10rem;
    padding-left: 10rem;
    width: 87vw;
  }

}

@media (width <= 1024px) {

  .login-box {
    width: 50%;
  }

  .groupart-box {
    width: 60%;

    & h1 {
      font-size: 11vw;
    }
  }

  .datum, .wat {
    width: 14vw;
  }

  .datum {
    width: 12vw;
  }

  .detail-content {
    flex-flow: column nowrap;
    margin-bottom: 15vh;
    margin-left: 0;
  }

  .practical {
    align-self: center;
  }

}

@media (width <= 900px) {

  .popup {

    & h1 {
      font-size: 8vw;
    }

    & .popup-info {
      width: 85%;
    }
  }



  .register-box {
    top: 10%;
  }

  .register-content {
    width: 90%;
  }

  .register-inputs {
    flex-flow: column nowrap;

    & .register-input {
      width: 100%;
      margin: 0;
    }
  }

  .register-button {
    width: 80%;
  }

  .event {
    flex-flow: column nowrap;
  }

  .event-title select {
    margin-right: 6rem;
  }

  .first-part-event, .second-part-event {
    width: 90%;
  }

  .second-part-event {
    margin-top: 3rem;
  }

  .tijd, .extra-button {
    display: none;
  }

  .invisible {
    display: flex;
    justify-content: center;
  }

  .datum, .wat {
    width: 12rem;
  }



}



@media (width <= 750px) {

  .login-box {
    width: 100%;

    & .login-content {
      width: 90%;
    }

    & .login-button {
      width: 100%;
    }

    & .login-input {
      height: 4rem;
      font-size: 2vh;
    }
  }

  .groupart-box {
    width: 90%;
  }

  .register-box {
    width: 100%;

    & .register-inputs {
      width: 100%;
    }

    & .register-button {
      width: 100%;
    }

    & .register-input {
      height: 4rem;
      font-size: 2vh;
    }

  }

}


@media (width <= 600px) {

  .sidebar {
    display: none;
  }

  .overview, .my-events-list, .add-event, .detail {
    margin-left: 0;
    padding-left: 0;
    padding-top: 0;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    & .event-title {
      flex-flow: column nowrap;
      justify-content: flex-start;
      width: 90%;
    }

    & .my-event-title {
      flex-flow: column nowrap;
      justify-content: flex-start;
      width: 90%;
    }

    & .add-event-title {
      flex-flow: column nowrap;
      justify-content: flex-start;
      width: 90%;
    }

    & select {
      margin-top: 3rem;
      width: 100%;
      margin-right: 0;
    }
  }

  .my-events-list .this-week {
    width: 90%;
  }

  .event-list {
    width: 90%;
  }

  .first-part-event, .second-part-event {
    width: 100%;
  }

  .mobile-nav {
    display: flex;
  }

  .aangemaakt, .ingeschreven, .nieuw-event, .add-form {
    width: 90%;
  }

  .form-section {
    width: 100%;

    & .radio-row {
      width: 44vw;
    }
  }

  .form-rij {
    justify-content: space-between;
  }

  .add-event select {
    width: 50%;
  }

  .add-button {
    align-self: flex-start;
  }

  .back {
    align-self: flex-start;
    margin-left: 2rem;
  }

  .description {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0;

    & .event-title-box {
      align-self: flex-start;
      margin-left: 10%;
    }
  }

  .detailbutton {
    width: 100%;
  }

  .main-container {
    flex-direction: column;
  }

}

@media (width <= 410px) {

  .mobile-nav li {
    font-size: 1.4rem;
  }

}

@media (width <= 400px) {

  .login-box {
    top: 0;
  }

  .groupart {
    justify-content: flex-start;

    & .groupart-box {
      margin-top: 5rem;
    }

    & h1 {
      font-size: 13vw;
    }
  }

  .doe-button {
    width: 100%;
  }

  .question-flexbox {
    justify-content: center;
    padding-right: 0;
    top: 28%;
  }

  .register-box {
    top: 0;
  }

  .popup h1 {
    font-size: 10vw;
  }

}
