@import 'reset';

input:focus, select:focus, textarea:focus {
  outline: none;
}

body {
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  /*margin: 6rem;*/
}

/*/////////////////////////////////////////////////////////
/////////// STARTPAGE ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////*/

.start {
  background: url(../assets/img/background.jpg) no-repeat;
  background-size: cover;
  height: 85vh;
  margin: 6rem;
}

.logo-login {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  & .logo {
    background: url(../assets/img/logo-msk.png) no-repeat;
    width: 8rem;
    height: 8rem;
    background-size: 90%;
    margin-left: 4rem;
    position: relative;
    bottom: 3rem;

  }

  & .login {
    font-family: oak-bold;
    position: relative;
    font-size: 1.8rem;
    padding-right: .1rem;
    bottom: 6rem;
  }

}

.login-a {
  text-decoration: none;
  color: black;
}

.groupart {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
  height: 80%;
}

.groupart-box {
  margin-top: 10rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 40%;
  color: white;
  font-family: oak-bold;

  & h1 {
    font-size: 10rem;
    margin-bottom: 4rem;
  }

  & p {
    line-height: 3rem;
    text-align: center;
    margin-bottom: 4rem;
  }
}

.doe-button {
  border: .3rem solid white;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all .5s ease-out;
  color: white;
  text-decoration: none;
}

.doe-button:hover {
  background-color: white;
  color: #c73130;

}

.question-flexbox {
  position: relative;
  top: 6rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  padding-right: 3rem;
}

.question-a {
  text-decoration: none;
  color: black;
}

.question-box {
  border-radius: 3rem;
  background-color: white;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: oak-bold;
  font-size: 1.8rem;
  transition: all .5s ease-out;

  & .question {
    text-align: center;
  }
}

.question-box:hover {
  border: .3rem solid white;
  background-color: transparent;
  color: white;
}

/*/////////////////////////////////////////////////////////
/////////// LOGIN ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////*/


.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .7);
  width: 30%;
  position: relative;
  top: 20%;
  margin: 0 auto;

  & h1 {
    font-size: 3.5rem;
    margin-top: 2rem;
  }
}

.login-content {
  font-family: oak-bold;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: white;
}

.login-form, .register-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
}

.login-input {
  height: 3rem;
  border: none;
  margin: 1rem auto;
  width: 100%;
  text-align: center;
  font-family: oak-bold;
  color: black;
  font-size: 1.2rem;

  &::placeholder {
    color: silver;
    text-align: center;
    font-family: oak-bold;

    letter-spacing: .1rem;
  }
}

.pass-box {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  width: 100%;
}

.login-button, .register-button {
  border: .3rem solid white;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  width: 50%;
  font-family: oak-bold;
  padding: 1rem 2rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: all .5s ease-out;
}

.login-button:hover, .register-button:hover {
  background-color: white;
  color: black;
}

.nog-box {
  margin-top: 2rem;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 1rem;

  & a {
    color: red;
    text-decoration: none;
  }
}

/*/////////////////////////////////////////////////////////
/////////// REGISTEREN ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////*/

.register-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .7);
  position: relative;
  top: 20%;
  width: 70%;
  margin: 0 auto;

  & h1 {
    font-size: 3.5rem;
    margin-top: 2rem;
  }
}

.register-content {
  font-family: oak-bold;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: white;
}

.register-form {
  display: flex;
  flex-flow: column nowrap;
}

.register-inputs {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.register-input {
  height: 3rem;
  border: none;
  margin: 1rem;
  width: 40%;
  text-align: center;
  font-family: oak-bold;
  color: black;
  font-size: 1.2rem;

  &::placeholder {
    color: silver;
    text-align: center;
    font-family: oak-bold;

    letter-spacing: .1rem;
  }
}

.register-button {
  width: 20%;
}

/*/////////////////////////////////////////////////////////
/////////// EVENT PAGE ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////*/


.banner {
  background: url(../assets/img/header.jpg) no-repeat center;
  position: fixed;
  height: 10rem;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3rem;
  z-index: 99999;


  & .login-welkom {
    font-size: 1.8rem;
    font-family: oak-bold;
    color: black;
    background-color: white;
    padding: .5rem;

  }

  & strong {
    color: red;
  }

  & a {
    text-decoration: none;
    color: black;
  }

}

.main-container {
  display: flex;
  flex-flow: row nowrap;
}


/*/////////// SIDEBAR ////////////////////////*/

.sidebar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10rem;
  width: 18rem;
  box-shadow: .1rem 0 1.5rem silver;
  z-index: 99;
  height: 100%;
  position: fixed;


  & .msk-logo {
    margin-top: 4rem;
  }
}

.side-links {
  font-size: 2rem;
  margin-top: 5rem;

  & a {
    color: black;
    text-decoration: none;
    font-family: oak-bold;
  }


}

.mijn-events {
  margin: 5rem 0 20rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 14rem;

  & .pop-melding {
    /*background-color: red;*/
    border: .2rem solid red;
    color: red;
    font-size: 1rem;
    font-family: oak-bold;
    text-align: center;
    padding-top: 3%;
    height: 2rem;
    width: 2rem;

  }
}

.plus {
  font-family: oak-bold;
  text-align: center;
  border: .2rem solid black;
  border-radius: 2rem;
  padding: .2rem 0 .3rem;
  width: 3rem;
  margin: 0 auto;
}

/*/////////// OVERVIEW ////////////////////////*/

.overview, .my-events-list, .add-event {
  padding: 20rem 0 0 7%;
  width: 100%;
  font-family: oak-bold;
  margin-left: 10%;

  & .event-title {
    font-size: 5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  & select {
    font-family: oak-bold;
    height: 3rem;
    border-radius: 0;
    border: .3rem solid red;
    margin-bottom: .5rem;
    background-color: white;
    appearance: none;
    padding-left: 1rem;

    background-image: url(../assets/svg/arrow.svg);
    background-repeat: no-repeat;
    background-position: right;
  }
}

.info-message {
  font-family: oak-bold;
  color: #50b948;
  border: .3rem solid #50b948;
  height: 8rem;
}

.this-week {
  width: 100%;

  & h2 {
    font-family: denmark-bold;
    background-color: black;
    padding: .5rem;
    color: white;
    width: 15rem;
    margin-top: 4rem;
  }
}

.event {
  margin-top: 5rem;
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 78vw;
  padding-bottom: 2rem;
  border-bottom: .1rem solid black;
}

.datum, .wat {
  display: flex;
  justify-content: flex-end;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 20rem;

  & .datumke {
    font-size: 1.3rem;
    color: black;
  }

  & p {
    color: red;
    font-size: 2rem;
  }
}

.wat {

  & .voorstelling {
    font-size: 1.3rem;
    color: red;
  }

  & p {
    color: black;
    font-size: 1.7rem;
  }
}

.tijd, .personen {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 8rem;

  & .klok {
    background: url(../assets/svg/clock.svg) no-repeat;
    height: 2.5rem;
    width: 3rem;
  }

  & .groep {
    background: url(../assets/svg/groep.svg) no-repeat;
    height: 2.5rem;
    width: 3rem;
  }
}

.extra-button {
  border: .3rem solid black;
  background-color: transparent;
  font-family: oak-bold;
  font-size: 1.2rem;
  padding-top: .7rem;
  cursor: pointer;
  transition: all .5s ease-out;
  width: 8rem;
  text-decoration: none;
  color: black;
  text-align: center;

}

.extra-button:hover {
  background-color: black;
  color: white;
}

.join-button {
  border: .3rem solid red;
  background-color: transparent;
  color: red;
  font-family: oak-bold;
  cursor: pointer;
  width: 8rem;
  transition: all .5s ease-out;
}

.join-button:hover {
  background-color: red;
  color: white;
}

.remove-button {
  background-color: red;
  border: none;
  color: white;
  font-family: oak-bold;
  cursor: pointer;
  width: 8rem;
  transition: all .5s ease-out;
}

.remove-button:hover {
  background-color: red;
  color: white;
}

.leave-button {
  background-color: red;
  border: none;
  color: white;
  font-family: oak-bold;
  cursor: pointer;
  width: 8rem;
  transition: all .5s ease-out;
}

.leave-button:hover {
  background-color: red;
  color: white;
}

.my-event-title {
  font-size: 5rem;
}

.aangemaakt, .ingeschreven, .nieuw-event {

  & h2 {
    font-family: denmark-bold;
    background-color: black;
    padding: .5rem;
    color: white;
    width: 20rem;
    margin-top: 4rem;
  }
}

/*/////////////////////////////////////////////////////////
/////////// EVENT AANMAKEN ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////*/



.add-event {

  & .add-event-title {
    font-size: 5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

input {
  font-size: 1.3rem;
}

label {
  margin-top: 2rem;
  margin-bottom: .5rem;
  font-size: 1.8rem;
}

.select-uur {
  display: inline-block;
  width: 10rem;
}

.select-tent {
  width: 30rem;
}

.add-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 65vw;
}

.kalender {
  border-bottom: .3rem solid red;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 25rem;
  font-family: oak-bold, sans-serif;

  &::placeholder {
    color: red;
  }
}

.text-box {
  flex-flow: column nowrap;
  display: inline-block;

  & textarea {
    border: .3rem solid red;
  }
}

.capacity-box {

  & .capacity {
    width: 7rem;
    height: 4rem;
    border: .3rem solid red;
    text-align: center;
    padding-left: 1.2rem;
    font-family: oak-bold;
    font-size: 1.5rem;
  }

}

.add-button {
  border: .3rem solid red;
  cursor: pointer;
  transition: all .5s ease-out;
  color: red;
  text-decoration: none;
  background: transparent;
  font-family: oak-bold;
  font-size: 1.8rem;
  height: 5rem;
  margin-top: 8rem;
  padding: 0 2rem;
  display: inline-block;
}

.add-button:hover {
  background-color: red;
  color: white;
}

.form-rij {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 2rem;

  & span {
    color: red;
  }
}

.form-collum {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 2rem;
}

.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, .9);
  top: 0;
  color: white;
  font-family: oak-bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;

  & .popup-info {
    width: 40%;
    align-self: center;
  }

  & h1 {
    font-size: 5rem;
    color: white;
    padding-bottom: 3rem;
    border-bottom: .2rem solid white;
    margin-bottom: 3rem;
  }

  & p {
    line-height: 2.5rem;
  }
}
