@import 'reset';

input:focus {
  outline: none;
}

body {
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  /*margin: 6rem;*/
}

.info-message {
  color: green;
}
/*/////////////////////////////////////////////////////////
/////////// STARTPAGE ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////*/

.start {
  background: url(../assets/img/background.jpg) no-repeat;
  background-size: cover;
  height: 85vh;
  margin: 6rem;
}

.logo-login {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  & .logo {
    background: url(../assets/img/logo-msk.png) no-repeat;
    width: 8rem;
    height: 8rem;
    background-size: 90%;
    margin-left: 4rem;
    position: relative;
    bottom: 3rem;

  }

  & .login {
    font-family: oak-bold;
    position: relative;
    font-size: 1.8rem;
    padding-right: .1rem;
    bottom: 6rem;
  }

}

.login-a {
  text-decoration: none;
  color: black;
}

.groupart {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
  height: 80%;
}

.groupart-box {
  margin-top: 10rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 40%;
  color: white;
  font-family: oak-bold;

  & h1 {
    font-size: 10rem;
    margin-bottom: 4rem;
  }

  & p {
    line-height: 3rem;
    text-align: center;
    margin-bottom: 4rem;
  }
}

.doe-button {
  border: .3rem solid white;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all .5s ease-out;
  color: white;
  text-decoration: none;
}

.doe-button:hover {
  background-color: white;
  color: #c73130;

}

.question-flexbox {
  position: relative;
  top: 6rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  padding-right: 3rem;
}

.question-a {
  text-decoration: none;
  color: black;
}

.question-box {
  border-radius: 3rem;
  background-color: white;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: oak-bold;
  font-size: 1.8rem;
  transition: all .5s ease-out;

  & .question {
    text-align: center;
  }
}

.question-box:hover {
  border: .3rem solid white;
  background-color: transparent;
  color: white;
}

/*/////////////////////////////////////////////////////////
/////////// LOGIN ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////*/


.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .7);
  width: 30%;
  position: relative;
  top: 20%;
  margin: 0 auto;

  & h1 {
    font-size: 3.5rem;
    margin-top: 2rem;
  }
}

.login-content {
  font-family: oak-bold;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: white;
}

form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
}

.login-input {
  height: 3rem;
  border: none;
  margin: 1rem auto;
  width: 100%;
  text-align: center;
  font-family: oak-bold;
  color: black;
  font-size: 1.2rem;

  &::placeholder {
    color: silver;
    text-align: center;
    font-family: oak-bold;

    letter-spacing: .1rem;
  }
}

.pass-box {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  width: 100%;
}

.login-button, .register-button {
  border: .3rem solid white;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  width: 50%;
  font-family: oak-bold;
  padding: 1rem 2rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: all .5s ease-out;
}

.login-button:hover, .register-button:hover {
  background-color: white;
  color: black;
}

.nog-box {
  margin-top: 2rem;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 1rem;

  & a {
    color: red;
    text-decoration: none;
  }
}

/*/////////////////////////////////////////////////////////
/////////// REGISTEREN ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////*/

.register-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .7);
  position: relative;
  top: 20%;
  width: 70%;
  margin: 0 auto;

  & h1 {
    font-size: 3.5rem;
    margin-top: 2rem;
  }
}

.register-content {
  font-family: oak-bold;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: white;
}

.register-form {
  display: flex;
  flex-flow: column nowrap;
}

.register-inputs {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.register-input {
  height: 3rem;
  border: none;
  margin: 1rem;
  width: 40%;
  text-align: center;
  font-family: oak-bold;
  color: black;
  font-size: 1.2rem;

  &::placeholder {
    color: silver;
    text-align: center;
    font-family: oak-bold;

    letter-spacing: .1rem;
  }
}

.register-button {
  width: 20%;
}

/*/////////////////////////////////////////////////////////
/////////// EVENT PAGE ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////*/


.banner {
  background: url(../assets/img/header.jpg) no-repeat center;
  height: 10rem;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3rem;
  z-index: 99;

  & .login-welkom {
    font-size: 1.8rem;
    font-family: oak-bold;
    color: black;
    background-color: white;
    padding: .5rem;

  }

  & strong {
    color: red;
  }

  & a {
    text-decoration: none;
    color: black;
  }
}

.main-container {
  display: flex;
  flex-flow: row nowrap;
  z-index: -1;
}


/*/////////// SIDEBAR ////////////////////////*/

.sidebar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 18rem;
  box-shadow: .1rem 0 1.5rem silver;
  height: 87vh;


  & .msk-logo {
    margin-top: 4rem;
  }
}

.side-links {
  font-size: 2rem;
  margin-top: 5rem;

  & a {
    color: black;
    text-decoration: none;
    font-family: oak-bold;
  }

  & .mijn-events {
    margin: 5rem 0 20rem;
  }

}

.plus {
  font-family: oak-bold;
  text-align: center;
  border: .2rem solid black;
  border-radius: 2rem;
  padding: .2rem 0 .3rem;
  width: 3rem;
  margin: 0 auto;
}

/*/////////// OVERVIEW ////////////////////////*/

.overview {
  padding: 8rem 0 0 7%;
  width: 100%;
  font-family: oak-bold;

  & .event-title {
    font-size: 5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  & select {
    font-family: oak-bold;
    margin-right: 4rem;
    height: 3rem;
    border: .3rem solid red;
  }
}

.this-week {


  & h2 {
    font-family: denmark-bold;
    background-color: black;
    padding: .5rem;
    color: white;
    width: 15rem;
    margin-top: 4rem;
  }
}
